{% extends 'base.html' %}

{% block title %}

Главаня страница

{% endblock %}

{% block body %}

<h1>Вы попали на главную сраницу</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Ea, earum. Cum, officiis asperiores.</li>
<li>Earum dicta quod illo deserunt.</li>
<li>In ipsum deserunt tempora fugiat.</li>
<li>Veniam sunt consequuntur itaque? Unde?</li>
<li>Quisquam voluptatum incidunt asperiores id.</li>
<li>Incidunt fuga voluptas distinctio velit!</li>
<li>Debitis ipsa suscipit culpa aliquam?</li>
<li>Accusantium ratione ad veniam ducimus?</li>
<li>Quis amet natus enim modi.</li>
<li>Reiciendis quasi quis fugit consequuntur.</li>
<li>Ducimus temporibus eaque deleniti at.</li>
<li>Maxime minus impedit at est.</li>
<li>Vel aperiam quibusdam consectetur rerum.</li>
<li>Perferendis asperiores possimus ratione dolore.</li>
<li>Necessitatibus ipsam nisi dicta magni?</li>
<li>Veniam dolore consectetur eaque maxime!</li>
<li>Veniam error adipisci magnam incidunt.</li>
<li>Ullam modi atque harum sapiente.</li>
<li>Deserunt corporis expedita omnis laborum!</li>
<li>At asperiores nisi rerum numquam.</li>
<li>Unde expedita blanditiis dolor debitis!</li>
<li>Consequuntur id tempora sapiente voluptate!</li>
<li>Tempore quos nisi dolores architecto?</li>
<li>Id, magnam! Ut, minus nobis!</li>
<li>Culpa eum consequatur itaque asperiores!</li>
<li>Delectus error ex porro qui!</li>
<li>Perspiciatis doloribus omnis reiciendis expedita!</li>
<li>Dolores recusandae similique deleniti nam.</li>
<li>Quae temporibus optio tempora quasi.</li>
<li>Doloribus quam pariatur rerum unde?</li>
<li>Autem, commodi? Obcaecati, reiciendis amet.</li>
<li>Eum explicabo nulla et alias.</li>
<li>Autem et amet sed asperiores?</li>
<li>Totam nobis officia ipsam molestiae.</li>
<li>Consequuntur, inventore harum! Ipsum, natus?</li>
<li>Corrupti doloribus quidem explicabo dolor.</li>
<li>Nostrum libero obcaecati quis laborum!</li>
<li>Sunt incidunt numquam facere porro.</li>
<li>Aut tempora sed optio porro.</li>
<li>Omnis maiores nobis quibusdam autem.</li>
<li>A recusandae quis distinctio? Provident.</li>
<li>Odio sint molestiae temporibus magnam.</li>
<li>Esse nihil nostrum quo veritatis.</li>
<li>Excepturi sequi repellendus reiciendis voluptatum!</li>
<li>Quo eligendi iusto qui inventore?</li>
<li>Rerum molestiae neque ratione incidunt.</li>
<li>Recusandae odit laborum inventore perferendis.</li>
<li>Perferendis aperiam sit debitis blanditiis.</li>
<li>Quaerat porro odio consequuntur omnis.</li>
<li>Quas provident esse expedita delectus!</li>
<li>Porro animi maiores fuga doloremque!</li>
<li>Nulla ratione quo eveniet odio!</li>
<li>Inventore iure consequuntur corporis mollitia!</li>
<li>Nobis ratione quam laboriosam magnam.</li>
<li>Suscipit ratione ducimus quas voluptate?</li>
<li>Adipisci voluptas itaque blanditiis labore.</li>
<li>At dolore magni accusamus nostrum?</li>
<li>Est atque ullam incidunt! Molestias.</li>
<li>Minus consequuntur impedit suscipit blanditiis.</li>
<li>Molestiae odit ipsum hic laborum!</li>
<li>Vitae pariatur voluptatibus et nobis?</li>
<li>Eum, nesciunt maxime! Magni, nulla.</li>
<li>Fugit dolore nemo reiciendis repellendus!</li>
<li>Dolorum quidem perspiciatis consequatur ut!</li>
<li>Voluptatem doloribus cupiditate temporibus deserunt?</li>
<li>Cum aut esse maxime. Mollitia?</li>
<li>Perferendis recusandae fugiat earum obcaecati.</li>
<li>Molestiae amet quidem nobis voluptatem!</li>
<li>Nisi at consectetur molestiae quasi.</li>

{% endblock%}
